.Dropdown{
    width: 170px;
}

.selectBox{
    height: 40px;
    width: 150px;
    background: rgb(53, 103, 240);
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 0 0 0 wheat;
}